.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  /* Columns */
  .left-column {
    width: 45%;
    position: relative;
  }
  
  .right-column {
    width: 55%;
  }